<li class='chats-list__item'>
    <img src={{avatar_icon}} class='chats-list__avatar' />
    <div class='chat-list__data'>
        <div class='chat-list__info'>
            <span class='chat-list__username'>{{userName}}</span>
            <span class='chat-list__last-message'>{{lastMessage}}</span>
        </div>
        <div class='chat-list__additional-info'>
            <span class='chat-list__time'>{{time}}</span>
            <div class='chat-list__counter'>{{count}}</div>
        </div>
    </div>
</li>